/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header {
	background-color: rgb(172, 101, 20);	
}

.name {
	font-size: 1.35em;
	margin: 0 auto;
}

.main-nav {
	margin-top: 5px;
}

.name a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	color: white;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	color: white;
}

.main-nav a {
	font-size: .75em;
	color: white;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}

/* ---- Banner ---- */

.banner {
	color: white;
}

.section h2 {
	font-size: 1.8em;
}

/* ---- Call to Action ---- */

.action {
	text-align: center;
	color: white;
}


/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.main-nav {
	background-color: rgb(172, 101, 20);
	overflow: hidden;
}

.main-nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}


/*Mobile navigation bar*/

.mobile-menu {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
}

.menu {
    padding: 50px 0;
    margin: 0;
    height: 100vh;
    float: right;
    background-color: rgb(255,255,255);
}

.menu li {
    line-height: 2em;
    padding-left: 20px;
    padding-right: 60px;
    margin: 0;
    list-style-type: none;
    display : flex;
    flex-direction: row;
}

.close {
    display:none;
	width: 20px;
    background-color: white;
    position:fixed;
    cursor: pointer;
    top: 10px;
    right:10px;
    border-color: transparent;
    background-color: transparent;
    font-size: 1em;
    font-weight: bolder;
}

.banner,
.section,
.main-footer {
	text-align: center;
}

.banner {
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url('../img/Quokka.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 48px;
}

.section {
	padding-top: 1em;
	padding-bottom: 2em;
	margin: 0 auto;
}

.row,
.hidden {
	width: 90%;
	margin: 0 auto;
}
.col {
	background-color: rgb(231, 231, 231);

}

.primary,
.secondary,
.tertiary,
.forth {
	padding-right: 1.5em;
	padding-left: 1.5em;
	padding-top: 1.3em;
	padding-bottom: 1em;
	border: white solid 5px;
}

.action {
	padding-top: .2em;
	padding-bottom: .2em;
	padding-right: 1em;
	padding-left: 1em;
	background-color:seagreen;
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 30px;
}

.burger {
	width: 30px;
}

.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}

/* ================================= 
  Media Queries
==================================== */

.hidden {
	display: none;
}


@media screen and (max-width: 800px) {
	.name {
		font-size: 1.6em;
		margin-left: 1em;
	}
	.main-nav a {display: none;}
	.main-nav a.icon {
	  float: right;
	  display: block;
	  font-size: 1.6em;	  
	}
	.main-nav {
		margin-right: 1em;
	}		


}


@media (min-width: 500px) {
	
	.row,
	.hidden {
		width: 90%;
		margin: 0 auto;
	}

	.banner {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}

@media (min-width: 800px) {
	
	.name {
		font-size: 1.1em;
		margin-left: 1em;
	}
	
	.main-nav a {
		font-size: .8em;
	}

	.burger {
		display: none;
	}
	
	.banner {
		padding-top: 150px;
		padding-bottom: 150px;
	}

	.row,
	.hidden {
		width: 90%;
		margin: 0 auto;
	}
	
}

@media (min-width: 1200px) {
	
	.main-nav a {
		font-size: .95em;
	}
	
	.row {
		width: 80%;
		max-width: 1200px;
	}

	
	.hidden {
		width: 80%;
		max-width: 1200px;
	}
}